<!doctype html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">

<title>Instructions</title>

<body style = "background-color:#44cec0;">

<div class="text-center">
    <h2 class="display-2">Select the player who you think best fits the description!</h2>
<div style = "padding:100px"></div>
    <form action="/mostLikely" method="GET">
        <button type="submit" style = "background-color:#ffb096;padding:20px;font-size:40px;"> BEGIN </button>
    </form>

</div>

</body>
